# OneMap API access token (valid for three days).
ONEMAP_ACCESS_TOKEN=your-onemap-access-token
LTA_DATAMALL_ACCOUNT_KEY=your-datamall-account-key
LTA_STATION_EXITS_GEOJSON_URL=lta-station-exits-geojson-url